<p-card>
  <div class="p-grid">
    <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <form class="p-mx-2" [formGroup]="signupForm">
        <h2 class="p-mt-0">Sign-Up Form</h2>
        <div class="p-field">
          <label for="fname">First name<span class="p-error">&#42;</span></label>
          <input id="fname" type="text" formControlName="fname" class="p-d-block" [ngClass]="{ 'ng-invalid ng-dirty': fname?.invalid && 
                (fname?.dirty || fname?.touched)}" pInputText />
          <small *ngIf="fname?.invalid && (fname?.dirty || fname?.touched)" id="email-help"
            class="p-d-block p-error">Required&#42;</small>
        </div>

        <div class="p-field">
          <label for="lname">Last name<span class="p-error">&#42;</span></label>
          <input id="lname" type="text" formControlName="lname" class="p-d-block" [ngClass]="{ 'ng-invalid ng-dirty': lname?.invalid && 
                (lname?.dirty || lname?.touched)}" pInputText />
          <small *ngIf="lname?.invalid && 
                (lname?.dirty || lname?.touched)" id="email-help" class="p-d-block p-error">Required&#42;</small>
        </div>
        <div class="p-field">
          <label for="email">Email<span class="p-error">&#42;</span></label>
          <input id="email" type="email" formControlName="email" class="p-d-block" [ngClass]="{ 'ng-invalid ng-dirty': email?.invalid && 
                (email?.dirty || email?.touched)}" pInputText />
          <small *ngIf="email?.errors?.['required'] && 
                (email?.dirty || email?.touched)" id="email-help" class="p-d-block p-error">Required&#42;</small>
          <small *ngIf="email?.errors?.['email'] && 
                (email?.dirty || email?.touched)" id="email-help" class="p-d-block p-error">Invalid email
            address</small>
        </div>
        <div class="p-field">
          <label class="p-d-flex" for="email">Password<span class="p-error">&#42;</span></label>
          <p-password id="password" formControlName="password" class="p-d-block" [ngClass]="{ 'ng-invalid ng-dirty': (password?.invalid || signupForm.errors?.['nameIncludes']) && 
                (password?.dirty || password?.touched)}"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right" [toggleMask]="true">
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                <li><small [class.p-error]="(password?.dirty || password?.touched) && 
                            password?.errors?.['noLowerCase']">At least one lowercase</small></li>
                <li><small [class.p-error]="(password?.dirty || password?.touched) && 
                            password?.errors?.['noUppercase']">At least one uppercase</small></li>
                <li><small [class.p-error]="(password?.dirty || password?.touched) && 
                            password?.errors?.['minlength']">Minimum 8 characters</small></li>
                <li><small [class.p-error]="(password?.dirty || password?.touched) && 
                                signupForm.errors?.['nameIncludes']">Should
                    not include your first name or last name</small></li>
              </ul>
            </ng-template>
          </p-password>
          <small *ngIf="password?.invalid && 
                (password?.dirty || password?.touched)" id="password-help" class="p-d-block p-error">Invalid
            password</small>
        </div>
        <div class="info-text p-my-3">
          <span>
            <a href="">Already a member? Log in</a>
          </span>
        </div>
        <button [disabled]="signupForm.invalid" pButton type="button" label="Sign up" (click)="onSignUp()"></button>
      </form>
    </div>
    <div class="p-col-2">
      <p-divider layout="vertical">
        <b>OR</b>
      </p-divider>
    </div>
    <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <form>
        <button class="p-d-block btn-signup btn-facebook p-m-auto " pButton type="button" icon="pi pi-facebook"
          label="Continue with Facebook"></button>
        <button class="p-d-block btn-signup btn-google p-mx-auto p-mt-2" pButton type="button" icon="pi pi-google"
          label="Continue with Google+"></button>
        <button class="p-d-block btn-signup btn-twitter p-mx-auto p-mt-2" pButton type="button" icon="pi pi-twitter"
          label="Continue with Twitter"></button>
        <div class="info-text text-align-center p-mt-3">
          <span>
            By continuing, you agree to our <a href="">Terms of Service</a> and acknowledge you've read our <a
              href="">Privacy Policy</a>
          </span>
        </div>
      </form>
    </div>
  </div>
</p-card>